.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover ;
    background-size: cover;
    
}
.carousel-caption{
    bottom: 200px;
   
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
  
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.carousel-caption p{
    width: 60%;
    margin:auto;
    font-size: 18px;
    line-height: 1.9;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h5:hover, p:hover{
    transition: 2s ease;
    color: #00463f;
    
}
.carousel-caption a{
    text-transform: uppercase;
    background-color: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
   
}
.w-100{
    height: 100vh;
}

* Feel free to change duration  */ 
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  
/* .owl-animated-out - only for current item */ 
/* This is very important class. Use z-index if you want move Out item above In item */ 
.owl-animated-out {
  z-index : 1 
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */ 
.owl-animated-in {
  z-index : 0 
   }
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}

@media screen and (max-width:991px){
    
    .carousel-caption{
        bottom: 100px;
    }
    
}

@media screen and (max-width:768px){
    .carousel-caption h5{
        font-size: x-large;
      
    }
    .carousel-caption{
        bottom: 90px;
       
    }
    .carousel-caption p{
        width: 60%;
        margin:auto;
        font-size: 15px;
    }
    
}

@media screen and (max-width:600px){
    .carousel-caption h5{
        
       
        font-size: x-large;
    }
    .carousel-caption p{
        width: 60%;
        margin:auto;
        font-size: 13px;
    }
    .carousel-caption{
        bottom: 90px;
       

       
    }
    
}
@media screen and (max-width:500px){
    .carousel-caption h5{
        
        
        font-size: x-large;
    }
    .carousel-caption p{
        width: 60%;
        margin:auto;
        font-size: 13px;
    }
    .carousel-caption{
        bottom: 90px;
      

       
    }
    
}
@media screen and (Max-width:480px){
    .carousel-caption h5{
        
      
        font-size: xx-large;
    }
    .carousel-caption{
        bottom: 200px;
       
    }
}
@media screen and (Max-width:460px){
    .carousel-caption h5{
        
        
        font-size: xx-large;
    }
    .carousel-caption{
        bottom: 200px;
        
    }
    .carousel-caption p{
        width: 60%;
        margin:auto;
        font-size: 14px;
        line-height: 1.9;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
}
@media screen and (Max-width:375px){
    .carousel-caption h5{
        
        
        font-size: xx-large;
    }
    .carousel-caption{
        bottom: 100px;
        
    }
}
@media screen and (Max-width:360px){
    .carousel-caption h5{
        
      
        font-size: xx-large;
    }
    .carousel-caption{
        bottom: 100px;
    }
    .carousel-caption p{
        width: 60%;
        margin:auto;
        font-size: 14px;
    }
}

@media screen and (Max-width:320px){
    .carousel-caption h5{
        
        
        font-size: medium;
    }
    .carousel-caption{
        bottom: 80px;
    }
    .carousel-caption p{
        width: 60%;
        margin:auto;
        font-size: 11px;
    }
}